@use "./utils/util" as *;
@use '../../core/bootSequence';
@use '../../views/Desktop';
@use '../components/mouseFollower/MouseFollower';
@use '../../features/map/Searchbar';
@use '../../features/map/Text';
@use '../../layout/date/TopRightDate';
@use '../../layout/dock/Dock';
@use '../../features/clock/Button';
@use '../../features/clock/ClockTerminal';
@use '../../features/settings/SettingsOs';
@use '../components/scss/ToggleBtn';
@use '../components/scss/ThemeBtn';
@use '../components/scss/ResetBtn';
@use '../../features/contact/Main';
@use '../../features/contact/information/Information';
@use '../../features/contact/header/Header';
@use '../../features/contact/form/Form';
@use '../../features/contact/socials/Socials';
@use '../../features/contact/footer/Footer';
@use '../../features/contact/information/CenterImage';
@use '../../features/weather/scss/Nav';
@use '../../features/weather/scss/Weather';
@use '../../features/weather/scss/ConditionTitle';
@use '../../features/weather/scss/WindCompass';
@use '../../features/weather/scss/HourlyForecast';
@use '../../features/weather/scss/SolarArc';

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
        width: 100%;
    }
}
