
@import '../../core/bootSequence.scss';
@import '../../views/Desktop.scss';
@import '../components/mouseFollower/MouseFollower.scss';
@import '../../features/terminals/terminal.scss';
@import '../../features/map/Searchbar.scss';
@import '../../features/map/Text.scss';
@import '../../layout/date/TopRightDate.scss';
@import '../../layout/dock/Dock.scss';
@import '../../features/clock/Button.scss';
@import '../../features/clock/ClockTerminal.scss';


@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html,body {
       height: 100%;
       width: 100%;
    }
}