@use '../../core/bootSequence';
@use '../../views/Desktop';
@use '../components/mouseFollower/MouseFollower';
@use '../../features/terminals/terminal';
@use '../../features/map/Searchbar';
@use '../../features/map/Text';
@use '../../layout/date/TopRightDate';
@use '../../layout/dock/Dock';
@use '../../features/clock/Button';
@use '../../features/clock/ClockTerminal';
@use '../../features/settings/SettingsOs';
@use '../components/ToggleBtn';
@use '../components/ThemeBtn';

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
        width: 100%;
    }
}
