.expandsearch {
    position: absolute;
    z-index: 999;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    .PrevSearches{
        height: 100%;
        width: 100%;

        span{
            font-size:larger;
            padding: 0.2rem 0.5rem;
            cursor:pointer;
            user-select: none;
            


            &:hover{
               background-color: rgba(0, 0, 0, 0.372);
               border-radius: 0.4rem;
               color: rgba(245, 245, 245, 0.784);
            }
        }
    }

    .SearchContainer {
        background-color: whitesmoke;
        border: 1px solid rgba(225, 225, 225, 0.2);
        border-radius: 1.5rem;
        height: auto;
        min-height: 5vh;
        min-width: 14vw;
        width: auto;
        align-self: flex-start;

        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .logoAndbar {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;
            overflow: hidden;
            position: relative;

            .form {

                input {
                    padding-inline: 1rem;
                    outline: none;
                    font-weight: 600;
                }
            }

            .holder {
                position: relative;
                width: 45px;
                height: 45px;
                background-color: black;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(225, 225, 225, 0.2);
                flex-shrink: 0;

                i {
                    position: absolute;
                    color: white;
                    display: inline-block;
                    font-size: 1.2rem;
                }

                .arrow {
                    opacity: 0;
                    transform: translateY(30px);
                    margin-right: 0.2rem;
                }
            }
        }
    }
}