.titleCon {
    grid-area: TitleCon;
    height: max-content;
    background-color: #fdfaf5;
   

    .city {
        height: auto;
        width: 100%;
        padding: 0.4rem;
        display: flex;
        gap: 0.3rem;

        h1 {
            font-size: clamp(2.8rem, 5cqw, 3.5rem);
            color: black;
            letter-spacing: 1.5;
            font-weight: 500;
            font-family: "Roboto Slab", serif;
        }

        span {
            font-size: clamp(2rem, 5cqw, 3.5rem);
            color: #f09650;
            padding-top: 1.1rem;
            font-style: italic;
            font-family: "Lora", serif;
        }
    }

    .holder {
        background: rgba(255, 255, 255, 0.79);
        .index {
            align-items: center;

            .indexCount {
                color: #f09650;
            }

            .condition {
                font-size: clamp(0.6rem, 1.5cqw, 0.8rem);
                color: rgba(0, 0, 0, 0.559);
            }
        }

        .leftright {
            .right{
                img{
                    margin-top: -0.5rem;
                   height: 20cqw;
                }
                .below{
                    span{
                        font-style: italic;
                        font-family: "Lora", serif;
                    }
                }
            }
            .left {

                border-radius: 0.8rem;



                .TemperatureCond {
                    .temp {
                        color: black;
                        font-size: clamp(3.5rem, 6cqw, 3.5rem);
                        font-family: "Lora", serif;
                        letter-spacing: 1.5;
                        font-weight: 500;
                    }

                    .condition {
                        color: black;
                        font-size: clamp(1.5rem, 3.5cqw, 2rem);
                        font-family: "Lora", serif;
                        font-style: italic;
                    }
                }

            }

           
        }
    }

}