.Hourly {
    grid-area: HourlyForecast;
    background: rgba(255, 255, 255, 0.79);

    .index {
        align-items: center;

        .indexCount {
            color: #f09650;
        }

        .condition {
            font-size: clamp(0.6rem, 1.5cqw, 0.8rem);
            color: rgba(0, 0, 0, 0.559);
        }
    }
}

@container weatherPanel (min-width: 720px) {
    .hourlyforecast {
        display: flex;

        justify-content: space-between !important;
        gap: 0 !important;
        width: 100%;
        padding: 0 2rem;

        .aqi {
            margin-left: 1.5rem;
        }
    }

}