.Hourly {
    grid-area: HourlyForecast;
    background: rgba(255, 255, 255, 0.79);
    
}

@container weatherPanel (min-width: 720px) {
    .hourlyforecast {
        display: flex;

        justify-content: space-between !important;
        gap: 0 !important;
        width: 100%;
        padding: 0 2rem;

        .aqi {
            margin-left: 1.5rem;
        }
    }

}