.weather-container{
    background: #faf6ef;
    background: #faf6ef;
    container-type: inline-size;
    container-name: weatherPanel;
   
    .Bento{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,max-content);
    grid-template-areas: 'TitleCon'
    'Compass'
    'HourlyForecast'
    'SolarArc'
    'rain'
    'sevdays'
    'banner';
    row-gap: 1rem;
    
}
}