.weather-container{
    background: #faf6ef;
   
    .Bento{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,max-content);
    grid-template-areas: 'TitleCon'
    'Compass'
    'HourlyForecast'
    'SolarArc';
    row-gap: 1rem;
    
}
}