.settings {
    display: grid;
    grid-template-columns: 0.5fr 4.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside Right";

    .Right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: safe center;
        padding: 4rem;
    }

    aside {
        grid-area: aside;
        border-right: 1px solid var(--border-clr);
        background-color: var(--header-bg);
        display: flex;
        gap: 0.9rem;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem;
       
        .personal {
  
            color: var(--header-text);
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: clamp(0.2rem, 4vh, 0.9rem);
            font-weight: 500;
        }

        .navigators {
            padding-left: 0.4rem;
            user-select: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            padding-right: 2rem;

            .option {
                display: flex;
                flex-direction: row;
                gap: 0.4rem;
        
                color: var(--text-clr);
                padding: 0.3rem;
                transition: transform 0.3s ease-in-out, background-color 0.3s ease;

                &:hover {
                  
                    background-color: var(--border-clr);
                    border-radius: 0.4rem;
                }

                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
}