@use '../../../shared/styles/utils/util' as *;

.centerImage {
    grid-area: image;
    min-height: 30vh;
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
        height: 45vh;
        border-radius: 0.8rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}


@container contactApp (min-width: 768px) and (max-width: 899px) {
    .centerImage {
        grid-area: image;
        min-height: 50vh;
        
        img {
            height: 100%;
        }
    }
}


@container contactApp (min-width: 900px) {
    .centerImage {
        grid-area: image;
        min-height: 35vh;
        height: 35vh;
        max-height: 35vh;
        
        img {
            height: 100%;
        }
    }
}