.expandsearch {
    position: absolute;
    z-index: 999;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(0.2rem, 1cqh, 0.5rem); 

    .PrevSearches {
        height: 100%;
        width: 100%;

        .holder {
            padding-inline: 0.3rem;
            
            span {
                font-size: clamp(0.7rem, 2cqh, 1.1rem);
                padding: clamp(0.1rem, 0.5cqh, 0.2rem) clamp(0.3rem, 1cqw, 0.5rem);
                cursor: pointer;
                user-select: none;
                transition: all 0.2s ease-in-out;
               

                &:hover {
                    background-color: rgba(0, 0, 0, 0.372);
                    border-radius: clamp(0.2rem, 1cqh, 0.4rem);
                    color: rgba(245, 245, 245, 0.784);
                }
            }
        }
    }

    .SearchContainer {
        background-color: whitesmoke;
        border: 1px solid rgba(225, 225, 225, 0.2);
        border-radius: clamp(1rem, 3cqh, 2rem);
        height: auto;
        
        min-height: clamp(35px, 7cqh, 35px); 
        min-width: clamp(150px, 30cqw, 180px); 
        width: auto;
        align-self: flex-start;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .logoAndbar {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clamp(0.3rem, 1cqw, 0.8rem);
            overflow: hidden;
            position: relative;
            padding: clamp(0.1rem, 0.5cqh, 0.3rem);

            .form {
                input {
                    padding-inline: clamp(0.5rem, 2cqw, 1rem);
                    outline: none;
                    font-weight: 600;
                    background: transparent;
                    font-size: clamp(0.8rem, 2.5cqh, 1.2rem); 
                    width: 100%;

                   &::placeholder{
                    font-size: clamp(0.75rem,2cqh,2rem);
                   }
                }
            }

            .holder {
                position: relative;
                width: clamp(28px, 6cqh, 45px);
                height: clamp(28px, 6cqh, 45px);
                background-color: black;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(225, 225, 225, 0.2);
                flex-shrink: 0;

                i {
                    position: absolute;
                    color: white;
                    display: inline-block;
                    font-size: clamp(0.8rem, 4cqh, 1.4rem); 
                }

                .arrow {
                    opacity: 0;
                    transform: translateY(30px);
                    margin-right: 0.2rem;
                }
            }
        }
    }
}